body{
    background-color: blue;
}
.howithelpsthebody{
    background-color: red;
}
.whatwaterhelpsthebodywith{
    background-color: darkorange;
}
.whatitdoestothehumanbody{
    background-color: gold;
}
.myowninformationaboutwater{
    background-color: chartreuse;
}