body{
    background-color: blue;
}
.howithelpsthebody{
    background-color: blueviolet;
}
.whatwaterhelpsthebodywith{
    background-color: chartreuse;
}
.whatitdoestothehumanbody{
    background-color: crimson;
}
.myowninformationaboutwater{
    background-color: darkorange;
}